In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
%matplotlib inline

In [3]:
aapl = yf.Ticker('AAPL')

In [4]:
days = 20
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-04,147.049692,147.568903,146.061168,146.730164,56368300,0.00,0
2021-08-05,146.760114,147.618828,145.951328,146.839996,46397700,0.00,0
2021-08-06,146.350006,147.110001,145.630005,146.139999,54067400,0.22,0
2021-08-09,146.199997,146.699997,145.520004,146.089996,48908700,0.00,0
2021-08-10,146.440002,147.710007,145.300003,145.600006,69023100,0.00,0
2021-08-11,146.050003,146.720001,145.529999,145.860001,48493500,0.00,0
2021-08-12,146.190002,149.050003,145.839996,148.889999,72282600,0.00,0
2021-08-13,148.970001,149.440002,148.270004,149.100006,59318800,0.00,0
2021-08-16,148.539993,151.190002,146.470001,151.119995,103296000,0.00,0
2021-08-17,150.229996,151.679993,149.089996,150.190002,92229700,0.00,0
2021-08-18,149.800003,150.720001,146.149994,146.360001,86326000,0.00,0
2021-08-19,145.029999,148.000000,144.500000,146.699997,86960300,0.00,0
2021-08-20,147.440002,148.500000,146.779999,148.190002,59947400,0.00,0
2021-08-23,148.309998,150.190002,147.889999,149.710007,60131800,0.00,0
2021-08-24,149.449997,150.860001,149.149994,149.619995,48606400,0.00,0
2021-08-25,149.809998,150.320007,147.800003,148.360001,58991300,0.00,0
2021-08-26,148.350006,149.119995,147.509995,147.539993,48597200,0.00,0
2021-08-27,147.479996,148.750000,146.830002,148.600006,55721500,0.00,0
2021-08-30,149.000000,153.490005,148.610001,153.119995,90956700,0.00,0
2021-08-31,152.660004,152.800003,151.289993,151.830002,86453117,0.00,0

In [5]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [6]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-08-04,147.049692,147.568903,146.061168,146.730164,56368300,0.00,0
1,2021-08-05,146.760114,147.618828,145.951328,146.839996,46397700,0.00,0
2,2021-08-06,146.350006,147.110001,145.630005,146.139999,54067400,0.22,0
3,2021-08-09,146.199997,146.699997,145.520004,146.089996,48908700,0.00,0
4,2021-08-10,146.440002,147.710007,145.300003,145.600006,69023100,0.00,0
5,2021-08-11,146.050003,146.720001,145.529999,145.860001,48493500,0.00,0
6,2021-08-12,146.190002,149.050003,145.839996,148.889999,72282600,0.00,0
7,2021-08-13,148.970001,149.440002,148.270004,149.100006,59318800,0.00,0
8,2021-08-16,148.539993,151.190002,146.470001,151.119995,103296000,0.00,0
9,2021-08-17,150.229996,151.679993,149.089996,150.190002,92229700,0.00,0
10,2021-08-18,149.800003,150.720001,146.149994,146.360001,86326000,0.00,0
11,2021-08-19,145.029999,148.000000,144.500000,146.699997,86960300,0.00,0
12,2021-08-20,147.440002,148.500000,146.779999,148.190002,59947400,0.00,0
13,2021-08-23,148.309998,150.190002,147.889999,149.710007,60131800,0.00,0
14,2021-08-24,149.449997,150.860001,149.149994,149.619995,48606400,0.00,0
15,2021-08-25,149.809998,150.320007,147.800003,148.360001,58991300,0.00,0
16,2021-08-26,148.350006,149.119995,147.509995,147.539993,48597200,0.00,0
17,2021-08-27,147.479996,148.750000,146.830002,148.600006,55721500,0.00,0
18,2021-08-30,149.000000,153.490005,148.610001,153.119995,90956700,0.00,0
19,2021-08-31,152.660004,152.800003,151.289993,151.830002,86453117,0.00,0

In [10]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-04,285.673101,287.040478,284.106093,285.962555,16191300,0.00,0
2021-08-05,286.331857,289.076603,285.553349,288.966797,13900200,0.00,0
2021-08-06,287.958755,288.946853,287.070441,288.906921,16585200,0.00,0
2021-08-09,289.196353,290.992901,287.260057,287.779053,16117600,0.00,0
2021-08-10,288.248176,288.697329,284.655079,285.892700,18616600,0.00,0
2021-08-11,286.661216,288.108458,285.313789,286.401733,13955900,0.00,0
2021-08-12,286.082339,289.415954,285.792885,289.256256,14561300,0.00,0
2021-08-13,288.926880,292.340328,288.747201,292.290436,18231400,0.00,0
2021-08-16,292.629800,294.256690,289.465843,294.037109,22507600,0.00,0
2021-08-17,291.831335,292.869326,290.523810,292.519989,20075300,0.00,0
2021-08-18,292.040009,294.820007,290.269989,290.730011,21813000,0.56,0
2021-08-19,288.690002,297.470001,288.640015,296.769989,29850500,0.00,0
2021-08-20,299.720001,305.839996,298.059998,304.359985,40796100,0.00,0
2021-08-23,303.250000,305.399994,301.850006,304.649994,22830200,0.00,0
2021-08-24,305.019989,305.649994,302.000000,302.619995,18175800,0.00,0
2021-08-25,304.299988,304.589996,300.420013,302.010010,20006100,0.00,0
2021-08-26,300.989990,302.429993,298.950012,299.089996,17666100,0.00,0
2021-08-27,298.989990,300.869995,296.829987,299.720001,22597000,0.00,0
2021-08-30,301.119995,304.220001,301.059998,303.589996,16348100,0.00,0
2021-08-31,304.420013,304.420013,301.510010,301.880005,26285338,0.00,0

In [11]:
pd.concat([hist, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-08-04,147.049692,147.568903,146.061168,146.730164,56368300,0.00,0,285.673101,287.040478,284.106093,285.962555,16191300,0.0,0
2021-08-05,146.760114,147.618828,145.951328,146.839996,46397700,0.00,0,286.331857,289.076603,285.553349,288.966797,13900200,0.0,0
2021-08-06,146.350006,147.110001,145.630005,146.139999,54067400,0.22,0,287.958755,288.946853,287.070441,288.906921,16585200,0.0,0
2021-08-09,146.199997,146.699997,145.520004,146.089996,48908700,0.00,0,289.196353,290.992901,287.260057,287.779053,16117600,0.0,0
2021-08-10,146.440002,147.710007,145.300003,145.600006,69023100,0.00,0,288.248176,288.697329,284.655079,285.892700,18616600,0.0,0

In [12]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-04,147.049692,147.568903,146.061168,146.730164,56368300,0.00,0
2021-08-05,146.760114,147.618828,145.951328,146.839996,46397700,0.00,0
2021-08-06,146.350006,147.110001,145.630005,146.139999,54067400,0.22,0
2021-08-09,146.199997,146.699997,145.520004,146.089996,48908700,0.00,0
2021-08-10,146.440002,147.710007,145.300003,145.600006,69023100,0.00,0

In [13]:
hist.index

DatetimeIndex(['2021-08-04', '2021-08-05', '2021-08-06', '2021-08-09',
               '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13',
               '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19',
               '2021-08-20', '2021-08-23', '2021-08-24', '2021-08-25',
               '2021-08-26', '2021-08-27', '2021-08-30', '2021-08-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [14]:
hist.index = hist.index.strftime('%d %B %Y')
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
04 August 2021,147.049692,147.568903,146.061168,146.730164,56368300,0.00,0
05 August 2021,146.760114,147.618828,145.951328,146.839996,46397700,0.00,0
06 August 2021,146.350006,147.110001,145.630005,146.139999,54067400,0.22,0
09 August 2021,146.199997,146.699997,145.520004,146.089996,48908700,0.00,0
10 August 2021,146.440002,147.710007,145.300003,145.600006,69023100,0.00,0

In [15]:
hist = hist[['Close']]
hist

                     Close
Date
04 August 2021  146.730164
05 August 2021  146.839996
06 August 2021  146.139999
09 August 2021  146.089996
10 August 2021  145.600006
11 August 2021  145.860001
12 August 2021  148.889999
13 August 2021  149.100006
16 August 2021  151.119995
17 August 2021  150.190002
18 August 2021  146.360001
19 August 2021  146.699997
20 August 2021  148.190002
23 August 2021  149.710007
24 August 2021  149.619995
25 August 2021  148.360001
26 August 2021  147.539993
27 August 2021  148.600006
30 August 2021  153.119995
31 August 2021  151.830002

In [16]:
hist.columns = ['apple']
hist.head()

                     apple
Date
04 August 2021  146.730164
05 August 2021  146.839996
06 August 2021  146.139999
09 August 2021  146.089996
10 August 2021  145.600006

In [17]:
hist = hist.T
hist

Date,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,13 August 2021,16 August 2021,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021,31 August 2021
apple,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,149.100006,151.119995,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995,151.830002

In [18]:
hist.index.name='Name'
hist

Date,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,13 August 2021,16 August 2021,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021,31 August 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,149.100006,151.119995,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995,151.830002

In [28]:
days = 20
tickers = {
    'apple':'AAPL',
    'facebook':'FB',
    'google':'GOOGL',
    'microsoft':'MSFT',
    'netflix':'NFLX',
    'amazon':'AMZN'
}
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name='Name'
        hist
        df = pd.concat([df, hist])
    return df

In [29]:
get_data(days, tickers)

Date,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,13 August 2021,16 August 2021,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021,31 August 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,149.100006,151.119995,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995,151.830002
facebook,358.920013,362.970001,363.510010,361.609985,361.130005,359.959991,362.649994,363.179993,366.559998,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004,379.380005
google,2702.510010,2725.030029,2714.770020,2738.260010,2736.139893,2725.580078,2743.879883,2754.550049,2766.189941,2733.229980,2708.979980,2713.600098,2748.590088,2800.830078,2825.229980,2841.580078,2828.810059,2880.080078,2891.810059,2893.949951
microsoft,285.962555,288.966797,288.906921,287.779053,285.892700,286.401733,289.256256,292.290436,294.037109,292.519989,290.730011,296.769989,304.359985,304.649994,302.619995,302.010010,299.089996,299.720001,303.589996,301.880005
netflix,517.349976,524.890015,520.549988,519.969971,515.840027,512.400024,510.720001,515.919983,517.919983,518.909973,521.869995,543.710022,546.880005,553.330017,553.409973,547.580017,550.119995,558.919983,566.179993,569.190002
amazon,3354.719971,3375.989990,3344.939941,3341.870117,3320.679932,3292.110107,3303.500000,3293.969971,3298.989990,3241.959961,3201.219971,3187.750000,3199.949951,3265.870117,3305.780029,3299.179932,3316.000000,3349.629883,3421.570068,3470.790039

In [45]:
import altair as alt

In [52]:
df = pd.DataFrame()
for company in tickers.keys():
    tkr = yf.Ticker(tickers[company])
    hist = tkr.history(period=f'{days}d')
    hist.index = hist.index.strftime('%d %B %Y')
    hist = hist[['Close']]
    hist.columns = [company]
    hist = hist.T
    hist.index.name='Name'
    hist
    df = pd.concat([df, hist])
df

Date,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,13 August 2021,16 August 2021,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021,31 August 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,149.100006,151.119995,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995,151.830002
facebook,358.920013,362.970001,363.510010,361.609985,361.130005,359.959991,362.649994,363.179993,366.559998,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004,379.380005
google,2702.510010,2725.030029,2714.770020,2738.260010,2736.139893,2725.580078,2743.879883,2754.550049,2766.189941,2733.229980,2708.979980,2713.600098,2748.590088,2800.830078,2825.229980,2841.580078,2828.810059,2880.080078,2891.810059,2893.949951
microsoft,285.962555,288.966797,288.906921,287.779053,285.892700,286.401733,289.256256,292.290436,294.037109,292.519989,290.730011,296.769989,304.359985,304.649994,302.619995,302.010010,299.089996,299.720001,303.589996,301.880005
netflix,517.349976,524.890015,520.549988,519.969971,515.840027,512.400024,510.720001,515.919983,517.919983,518.909973,521.869995,543.710022,546.880005,553.330017,553.409973,547.580017,550.119995,558.919983,566.179993,569.190002
amazon,3354.719971,3375.989990,3344.939941,3341.870117,3320.679932,3292.110107,3303.500000,3293.969971,3298.989990,3241.959961,3201.219971,3187.750000,3199.949951,3265.870117,3305.780029,3299.179932,3316.000000,3349.629883,3421.570068,3470.790039

In [53]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,13 August 2021,16 August 2021,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021,31 August 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,149.100006,151.119995,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995,151.830002
facebook,358.920013,362.970001,363.510010,361.609985,361.130005,359.959991,362.649994,363.179993,366.559998,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004,379.380005

In [54]:
data.sort_index()

Date,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,13 August 2021,16 August 2021,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021,31 August 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,149.100006,151.119995,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995,151.830002
facebook,358.920013,362.970001,363.510010,361.609985,361.130005,359.959991,362.649994,363.179993,366.559998,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004,379.380005

In [55]:
data = data.T.reset_index()
data

Name            Date       apple    facebook
0     04 August 2021  146.730164  358.920013
1     05 August 2021  146.839996  362.970001
2     06 August 2021  146.139999  363.510010
3     09 August 2021  146.089996  361.609985
4     10 August 2021  145.600006  361.130005
5     11 August 2021  145.860001  359.959991
6     12 August 2021  148.889999  362.649994
7     13 August 2021  149.100006  363.179993
8     16 August 2021  151.119995  366.559998
9     17 August 2021  150.190002  358.450012
10    18 August 2021  146.360001  355.450012
11    19 August 2021  146.699997  355.119995
12    20 August 2021  148.190002  359.369995
13    23 August 2021  149.710007  363.350006
14    24 August 2021  149.619995  365.510010
15    25 August 2021  148.360001  368.390015
16    26 August 2021  147.539993  364.380005
17    27 August 2021  148.600006  372.630005
18    30 August 2021  153.119995  380.660004
19    31 August 2021  151.830002  379.380005

In [56]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value':'Stock Prices(USD)'}
)

data

              Date      Name  Stock Prices(USD)
0   04 August 2021     apple         146.730164
1   05 August 2021     apple         146.839996
2   06 August 2021     apple         146.139999
3   09 August 2021     apple         146.089996
4   10 August 2021     apple         145.600006
5   11 August 2021     apple         145.860001
6   12 August 2021     apple         148.889999
7   13 August 2021     apple         149.100006
8   16 August 2021     apple         151.119995
9   17 August 2021     apple         150.190002
10  18 August 2021     apple         146.360001
11  19 August 2021     apple         146.699997
12  20 August 2021     apple         148.190002
13  23 August 2021     apple         149.710007
14  24 August 2021     apple         149.619995
15  25 August 2021     apple         148.360001
16  26 August 2021     apple         147.539993
17  27 August 2021     apple         148.600006
18  30 August 2021     apple         153.119995
19  31 August 2021     apple         151.830002
20  04 August 2021  facebook         358.920013
21  05 August 2021  facebook         362.970001
22  06 August 2021  facebook         363.510010
23  09 August 2021  facebook         361.609985
24  10 August 2021  facebook         361.130005
25  11 August 2021  facebook         359.959991
26  12 August 2021  facebook         362.649994
27  13 August 2021  facebook         363.179993
28  16 August 2021  facebook         366.559998
29  17 August 2021  facebook         358.450012
30  18 August 2021  facebook         355.450012
31  19 August 2021  facebook         355.119995
32  20 August 2021  facebook         359.369995
33  23 August 2021  facebook         363.350006
34  24 August 2021  facebook         365.510010
35  25 August 2021  facebook         368.390015
36  26 August 2021  facebook         364.380005
37  27 August 2021  facebook         372.630005
38  30 August 2021  facebook         380.660004
39  31 August 2021  facebook         379.380005

In [72]:
ymin, ymax = 50, 500
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x = "Date:T",
        y = alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color = 'Name:N'
    )
)

In [73]:
chart

alt.Chart(...)